{{template "header" .}}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2>{{.Title}}</h2>
        <h4>{{.Author}}</h4>
        <h6>{{.Topic}}</h6>
        <p>{{.Body}}<p>
    </div>
    <div class="col-sm-2"></div>
</div>
{{template "footer" .}}